* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color_main: #A54328;
  --color_2nd: #FFFFFF;
}

body, button {
  font-family: 'Source Serif 4', serif;
  font-size: 1.4rem;
  color: var(--color_main);
}

body {
  background-color: var(--color_2nd);
  height: 100vh;
}
main {
  max-width: 32rem;
  padding: 5.2rem 3.6rem;
  display: grid;
  gap: 3.2rem;
  margin-inline: auto;
  box-sizing: content-box;
}

img{
  width: 100%;
  margin-block: 3.2rem;
}
h1, h2, h3 {
  font-weight: 700;
}
h1, h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 3.2rem;
}

ul, ol {
  padding-left: 2.4rem;
}

button {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--color_2nd);

  background-color: var(--color_main);
  margin-top: 3.2rem;
  padding: .8rem 1.2rem;
  border: none;
  border-radius: .6rem;
}

@media (min-width: 750px) {
  main {
    max-width: clamp(600px, 85%, 1000px);
    grid-template-columns: 1fr 1fr;
    gap: clamp(3.2rem, 10% ,12rem);
  }

  body {
    font-size: 2rem;
  }
  h1, h2 {
    font-size: 4rem;
  }
  bottom{
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

}
